BODY  
{
	background-color : White;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10pt;
        margin : 0;
}

A 
{
	color: #aa5522;
	text-decoration : none;
	font-weight : bold;
}

A:Hover
{
	color : Navy;
	text-decoration : none;
	font-weight : bold;
}

A:Visited 
{
	text-decoration : none;
	color: #336699;
	font-weight : bold;
}

Table, P, DIV, H5, A, OL, TD, UL 
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
	
}

TR.header
{
	background-color : Black;
	color: #ffffff;
	width: 100%
}

TR.row_odd
{
	background-color : #FFffde;
}

TR.row_even
{
	background-color : #ffffcc;
}

TH  
{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 7pt;
	color: #FFFFFF;
	background-color : #000000;
	font-weight : bold;
}

H1
{ 
	font-size : 16pt; 
	font-weight : bold; 
	line-height : 18pt; 
}

H2 
{ 
	font-size : 14pt; 
	font-weight : bold; 
	line-height : 16pt; 
}

H3 
{ 
	font-size : 12pt; 
	font-weight : bold; 
	line-height : 14pt; 
}

SPAN.right
{
        margin-right: 5%;
        float : right;      
}

Col.center
{
         padding : 1em 2em;
}

TEXTAREA.read_only
{
	background-color : Red;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 9pt;
}
.nav
{
	background-color : #333388;
        color : White;
}
.nav:link
{
	background-color : #333388;
        color : White;
}
.nav:active
{
	background-color : #333388;
        color : White;
}
.nav:hover
{
	background-color : #333388;
        color : White;
}
.nav:visited
{
	background-color : #333388;
        color : White;
}
.navorange { background-color : White; }
